<!doctype html>
<html lang="zh-cn">
<head>
	<title>联系我们_e田科技</title>
<meta charset="utf-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no"> -->
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="format-detection" content="telephone=no">
<meta name="author" content="design by www.jerei.com">
<link href="http://www.etian365.com/resources/web/css/style.css" rel="stylesheet">
<!-- <link href="/resources/web/css/responsive.css" rel="stylesheet"> -->
</head>
<body>

<header class="pageHeader">
	<div class="topBar">
		<p><b>e田科技--智慧农业领先者</b></p>
	</div>

</header>


<section class="channel_banner">
<ul>
<li>
	<img src='http://resource.lovol.com.cn/images/201603/20160326153630924.jpg' />
</li>
</ul>
</section>
<section class="channel_menu">
	<div class="wrap fix">
		<ul class="links">
		</ul>

	</div>
</section>
<section class="channelPage aboutPage">
	<div class="wrap fix">
		<div class="channel_content">
		<p><span style="color:#33cc00;">e田科技</span>，现代农业互联网服务商。以打造农机领域垂直应用生态圈为切入点，开展“农机服务+农机物联网+农技服务”等平台，助力现代农业。</p><p><br /></p>
		</div>
	</div>
</section>
	﻿
<footer class="pageFooter">
	<div class="foot01">
		<div class="wrap fix">
			<div class="infos">
				<div class="row">
					<dl class="span-4 smal-12">
						<dd class="fix">
							<div class="_text">任何问题都可以直接联系我们，我们会尽快回复</div>
							<div class="_tel">
								<strong class="_t">全国客户关怀热线</strong>
								<a href="tel:400-9898-365" class="atel">400-9898-365</a>
							</div>
							<div class="_email"><a href="mailto:kf@etian365.com">kf@etian365.com</a></div>
						</dd>
					</dl>
										<dl class="span-4 smal-12">


					</dl>
				</div>
			</div>
			<div class="media fix">

			</div>
		</div>
	</div>

	<div class="foot02">
		<div class="wrap fix">

			<div class="copyright">
				<a id='___szfw_logo___' href='https://credit.szfw.org/CX20160524015315310185.html' target='_blank' class="cx"></a>
				<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37070402000004" class="police"><i><img src="/beian.png" alt=""></i></a>
				<h4>
					<a href="http://www.jerei.com" target="_blank">yutai</a>
					<em>|</em>
					制作维护
				</h4>
			</div>

		</div>
	</div>

	<div style="display:none;">
		<script src="http://s4.cnzz.com/z_stat.php?id=1258231688&web_id=1258231688" language="JavaScript"></script>
		<script src="https://s95.cnzz.com/z_stat.php?id=1260698257&web_id=1260698257" language="JavaScript"></script>
	</div>

</footer>

</body>

<script>
var jrChannel='';
var jrSize='1';
		jrChannel+=3+'#';
	jrChannel=jrChannel.substring(0,jrChannel.length-1);
</script>
<script>seajs.use('js/channel_content')</script>
</body>
</html>
